In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from io import StringIO
import os

In [18]:
csv_directory = '../Data/Csv/'
filename = 'GDO_data_thin.csv'

In [19]:
path = csv_directory + filename
df = pd.read_csv(path)
df.head(5)

,cancer_site,year,tumour_type,tumour_type_2,tumour_type_3,basis_of_diagnosis,stage,stage_detail,stage_detail_2,age,region,sex,grade,nodal_status,variable,value
0,"Bladder, Urethra, Renal Pelvis and Ureter",2013,All,All,All,Not split by Basis of Diagnosis,All stages,All,All,All ages,All England,Persons,All grades,Not split by nodal status,incidence,20681
1,"Bladder, Urethra, Renal Pelvis and Ureter",2013,Renal Pelvis and Ureter,All,All,Not split by Basis of Diagnosis,All stages,All,All,All ages,All England,Persons,All grades,Not split by nodal status,incidence,2111
2,"Bladder, Urethra, Renal Pelvis and Ureter",2013,Renal Pelvis and Ureter,Malignant and in situ,All,Not split by Basis of Diagnosis,All stages,All,All,All ages,All England,Persons,All grades,Not split by nodal status,incidence,1978
3,"Bladder, Urethra, Renal Pelvis and Ureter",2013,Renal Pelvis and Ureter,Malignant and in situ,All,Not split by Basis of Diagnosis,Non-muscle-invasive,All,All,All ages,All England,Persons,All grades,Not split by nodal status,incidence,858
4,"Bladder, Urethra, Renal Pelvis and Ureter",2013,Renal Pelvis and Ureter,Malignant and in situ,All,Not split by Basis of Diagnosis,Non-muscle-invasive,Ta/Tis,All,All ages,All England,Persons,All grades,Not split by nodal status,incidence,583

In [30]:
df = df[df.value.apply(lambda x: x.isnumeric())]

In [31]:
df.describe()

,cancer_site,year,tumour_type,tumour_type_2,tumour_type_3,basis_of_diagnosis,stage,stage_detail,stage_detail_2,age,region,sex,grade,nodal_status,variable,value
count,136126,136126,136126,136126,136126,136126,136126,136126,136126,136126,136126,136126,136126,136126,136126,136126
unique,13,8,34,36,7,4,16,5,6,27,5,3,12,5,144,4532
top,Oesophageal and stomach,2013,All,All,All,Not split by Basis of Diagnosis,All stages,Not split by Stage Detail,Not split by Stage Detail 2,All ages,All England,Persons,Not split by grade,Not split by nodal status,population,0
freq,25648,22455,25159,90042,109469,123017,28514,119285,119285,44593,117949,82304,103880,99581,4744,24696

In [41]:
df['value'] = pd.to_numeric(df.value)

<ipython-input-41-f8abc7e29e91>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['value'] = pd.to_numeric(df.value)

In [ ]:
df.plot(kind='bar', x='region', y='value')